<section id="about" class="tout">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <p>
            I have over 8 years of experience as a software engineer, and have worked
            at SMEs. While I'm a proficient full-stack developer, my expertise is in building scalable backend services (API services, stream processing,
            and async mechanisms).
        </p>
        <p>
           I love building things that make our lives easier. I love being able to see customers use the solutions that I build for their day to day operations. I'm most attracted to solving real customer problems with a business justification. I love to see customers be able to do their tasks faster and more effective, thus contributing to a better business decision.
        </p>
        <p>
          I'm looking for a senior individual contributor role where I can take on on collaborative
          team leadership responsibilites, and gain more experience with project management and designing large scale systems.</p>
      </div>
        <div class="col-sm-6">
            <h3 style="margin-top:0;">Highlights</h3>
            <ul>
              <li>
              Designed, developed and maintained a notification system that sends SMS, email and push notifications. Features provider selection and statistics without compromising database performance.
              </li>
              <li>
              Written and published an efficient collision avoidance algorithm for a group of drones searching an unknown area, similar to the MH370 incident.
              </li>
              <li>
              Introduced unit and integration testing to companies worked for in the past four years, saving hundreds of developer hours trying to find out what when wrong.
              </li>
            </ul>
        </div>
    </div>
  </div>
</section>
