<section id="interests" class="tout">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Interests</h2>
          <hr />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <p>
            My personal interests include:
          </p>
          <ul>
          <li>
            <b>Finance solutions, securities and trading</b>. It's an exciting time for fintech, securities and trading solutions. I am greatly interested in developing high performance systems that deal with high volume data.
          </li>
          <li>
            <b>Artificial Intelligence</b>. Artificial intelligence is the next thing forward. AI promises to make our lives even much easier, aid us in solving problems in our daily lives. I'm enthusiastic about this field and I hope to be able to work at a company where I can help develop solutions that deal use AI.
          </li>
          <li>
            <b>Amateur Home Networking</b>. I've been enthusiastic in setting my own home network located in several cities called the "Dagul Network". 
            This network comprises three geographic networks--Manila (Philippines), Dallas (Texas) and Los Angeles (California). Users connected to the network can also access the local devices connected to the network.
            This VPN connection is not slow OpenVPN or the not-so-secure LT2P and PPPe VPN connections, thus not prone to data packet inspection.
          </li>
          <li>
            <b>Swimming</b>. I previously lived in the Philppine archipelagos, where we are mostly surrounded by water. It only takes 30 minutes to reach a nearby beach from my hometown. I enjoy my weekends doing swimming and I hope to participate in a swimming competition one day here in Seoul.
            </li>
          </ul>
        </div>
          <div class="col-sm-6">
            <p>Outside of the workplace, I do the following activities.</p>
            <ul>
                <li>
                Active member of Code Seoul, a professional software engineer meetup group based in Seoul, South Korea.
                </li>
                <li>
                Active volunteer at Yeoksam-dong Parish in Gangnam, Seoul.
                </li>
                <li>
                Volunteer at Feeding Homeless People in Seoul, South Korea.
                </li>
             </ul>
        </div>
      </div>
    </div>
  </section>
  