<section id="projects">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>RECENT PROJECTS</h2>
                <hr />
            </div>
        </div>
		<div class="row">
			<div class="col-sm-6">
				<ul>
					<li>
						<strong><a href="https://paulvee.s3.us-west-1.amazonaws.com/buy_crypto_overview.pdf">Buy Crypto (2022-2024)</a></strong> is a service provided to ProBit Global users by allowing them to use bank accounts, credit cards and e-wallets to buy cryptocurrencies, such as Bitcoin. The service has two components: REST APIs in the user services API and batch processes in the buy crypto daemon project.
					</li>
					<li>
						<strong><a href="https://paulvee.s3.us-west-1.amazonaws.com/mqcs_overview.pdf">Message Queueing and Control System (2023-2024)</a></strong> is ProBit Global's new SMS, email and push notification system. It replaces the original notification system called the "Mailer" project. This system is faster than the original mailer project and has better system architecture.
					</li>
					<li>
						<strong><a href="https://paulvee.s3.us-west-1.amazonaws.com/upbit_safe_overview.pdf">Upbit Safe (2019-2021)</a></strong> was a custodial service that stores large amounts of cryptocurrency for institutional clients in a secure manner. In order to withdraw cryptocurrency, at least 3 electronic signatures are required.
					</li>
					<li>
						<strong><a href="https://paulvee.s3.us-west-1.amazonaws.com/trinito_overview.pdf">Trinito (2019-2021)</a></strong> was a blockchain personal wallet service that allows for smart contract-based cryptocurrency asset deposits and lending. Based on the Orbit Chain, all transactions in Trinito are transparent and wallet assets are 100% controlled by user authority.
					</li>
					<li>
						<strong><a href="https://paulvee.s3.us-west-1.amazonaws.com/klaytnscope_overview.pdf">Klaytnscope (2019-2021)</a></strong> is a block explorer project that works similarly like Etherscan. The Klaytn network, being a fork of the Ethereum network, contains similar features and Klaytnscope showcases these features.
						<br>This project was originally implemented in Vanilla Node.js and was migrated to use a framework called Ts.ED for a clean architecture and avoid code duplication with the use of DTOs.
					</li>
				</ul>
			</div>
			<div class="col-sm-6">
				<p>The following are open-sourced projects, which were developed but were not launched due to lack of time.</p>
				<ul>
					<li>
						<strong>Call For Help Identity and Billing System</strong> is the microservice that handles the user's onboarding, session management and billing for the users of Call for Help app. This microservice features Sign In with Google.
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
